* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 2560px;
}

.header-bg{
   background-color: #009688;
   height: 20vh;
   margin: 0 auto ;
}

.header-bottom-bg{
    background-color: #DADBD4;
    height: calc(100vh - 20vh);
    margin: 0 auto;

}

.container-chat{
    height: 80vh;
    width: 80%;
    top:5vh;
    left:10%;
}

.container-left{
    width:40%;
    height: 800px;
}

.container-right{
    width:60%;
    height: 800px;
    border: 1px solid grey;

}

.profil-pic{
    border-radius: 50%;
    max-width: 60px;
}

.container-left-header-top {
    background-color: #EAEAEA;
    height:100px;
}

.bg-fw{
   color: #B1B1B1;
}

.container-left-header-bottom{
    background-color: #8EDAFC;
    height: 120px;
}

.font-circle{
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#8EDAFC;
}

.research-container-main-top{
    background-color: #F1F1F1;
    height: 80px;
}

.research-name-chat{
    border:1px solid grey;
    width:20%;
    text-align: center;
}

.research-text{
    color:grey;
    border:1px solid grey;
    width:80%;
}

.profil-color-chat{
    background-color: #EAEAEA;
    height:100px;
}
.profil-message{
    background-color: #EAEAEA;
    height:100px;
}


.photo-member-chat{
    width:10%;
}

.photo-member-chat-text{
    width: 90%;
}

.chat-scroll{
    height:calc(100% - 300px);
    overflow-y: auto;
}

.profil-color-chat:hover{
    background-color : rgb(184, 184, 184);
}

.background-chat{
    background-image : url(img/mine.jpg);
    height: calc(100% - 170px);
    overflow-y: auto;

}


.message-received{
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    min-width: 30%;
    max-width: 40%;
}

.message-sent{

    background-color: #D5F9BA;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    min-width: 30%;
    max-width: 40%;
}

.container-enter-text{
    height:70px;
    background-color: #F3EEEA;
    padding: 10px;
}

.date-text-chat{
    margin: -5px;
    font-size: 10px;
}

.message-chat{
    background-color: white;
    height: 5vh;
    width: 200vh;
}