* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 2560px;
}

.header-bg{
   background-color: #009688;
   height: 20vh;
   margin: 0 auto ;
}

.header-bottom-bg{
    background-color: #DADBD4;
    height: calc(100vh - 20vh);
    margin: 0 auto;

}

.container-chat{
    height: 80vh;
    width: 80%;
    background-color: yellow;
    border: 1px solid green;
    top:5vh;
    left:10%;
}

.container-left{
    width:40%;
}

.container-right{
    width:60%;
    border:1px solid green;

}

.profil-pic{
    border-radius: 50%;
    max-width: 60px;
}

.profil-color{
    background-color: #EAEAEA;
}

.bg-fw{
   color: #B1B1B1;
}

.bg-research-message{
    background-color: #8EDAFC;
}

.font-circle{
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#8EDAFC;
}

.research-container{
    background-color: #F1F1F1;
    height: 80px;
}

.research-name-chat{
    border:1px solid grey;
    width:20%;
    text-align: center;
}

.research-text{
    color:grey;
    border:1px solid grey;
    width:80%;
}

.profil-color-chat{
    background-color: #EAEAEA;
}


.photo-member-chat{
    width:10%;
}

.photo-member-chat-text{
    width: 90%;
}

.chat-scroll{
    height:500px;
    overflow-y: scroll;
}

.profil-color-chat:hover{
    background-color : rgb(184, 184, 184);
}

.background-chat{
    background-image : url(img/mine.jpg);
    height: 75vh;
    border: 1px solid pink;
    overflow-y: scroll;
    display: flex;
    
}

.message-received{
    background-color: white;
    width: 50vh;
    height: 70px;
    padding: 10px;
    align-items: flex-end;
    margin: 50px;
    border-radius: 10px;
}

.message-sent{

    background-color: #D5F9BA;
    width: 50vh;
    height: 70px;
    padding: 10px;
    align-items: flex-start;
    margin: 50px;
    border-radius: 10px;
}

.container-enter-text{
    height: 5vh;
    background-color: #F3EEEA;
}